<a href="https://colab.research.google.com/github/riyagandhi224/dsbda/blob/main/dsbda_GA1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/seattle-weather.csv")

In [4]:
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [9]:
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [10]:
df.size

8766

In [11]:
df.shape

(1461, 6)

In [14]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [15]:
df.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [16]:
df.isnull()

       date  precipitation  temp_max  temp_min   wind  weather
0     False          False     False     False  False    False
1     False          False     False     False  False    False
2     False          False     False     False  False    False
3     False          False     False     False  False    False
4     False          False     False     False  False    False
...     ...            ...       ...       ...    ...      ...
1456  False          False     False     False  False    False
1457  False          False     False     False  False    False
1458  False          False     False     False  False    False
1459  False          False     False     False  False    False
1460  False          False     False     False  False    False

[1461 rows x 6 columns]

In [17]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [18]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [19]:
df.sample()

           date  precipitation  temp_max  temp_min  wind weather
399  2013-02-03            2.3       8.9       2.8   2.9    rain

In [20]:
df.sample(5)

           date  precipitation  temp_max  temp_min  wind  weather
946  2014-08-04            0.0      32.8      16.1   2.6      sun
937  2014-07-26            0.0      26.1      13.3   3.6      sun
907  2014-06-26            0.0      21.1      14.4   4.1      sun
186  2012-07-05            0.0      24.4      10.6   3.1  drizzle
103  2012-04-13            0.0      15.0       3.9   4.0  drizzle

In [21]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1456    False
1457    False
1458    False
1459    False
1460    False
Length: 1461, dtype: bool

In [22]:
df.duplicated().sum()

np.int64(0)

In [23]:
df.rename(columns={'temp_max':'Max_Temp'},inplace=True)

In [24]:
df

            date  precipitation  Max_Temp  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [25]:
import warnings
warnings.filterwarnings("ignore")

In [26]:
df['weather'].replace('rain','Rainy',inplace=True)
df

            date  precipitation  Max_Temp  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5    Rainy
2     2012-01-03            0.8      11.7       7.2   2.3    Rainy
3     2012-01-04           20.3      12.2       5.6   4.7    Rainy
4     2012-01-05            1.3       8.9       2.8   6.1    Rainy
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9    Rainy
1457  2015-12-28            1.5       5.0       1.7   1.3    Rainy
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [28]:
df.drop('wind', axis=1, inplace=True)
df

            date  precipitation  Max_Temp  temp_min  weather
0     2012-01-01            0.0      12.8       5.0  drizzle
1     2012-01-02           10.9      10.6       2.8    Rainy
2     2012-01-03            0.8      11.7       7.2    Rainy
3     2012-01-04           20.3      12.2       5.6    Rainy
4     2012-01-05            1.3       8.9       2.8    Rainy
...          ...            ...       ...       ...      ...
1456  2015-12-27            8.6       4.4       1.7    Rainy
1457  2015-12-28            1.5       5.0       1.7    Rainy
1458  2015-12-29            0.0       7.2       0.6      fog
1459  2015-12-30            0.0       5.6      -1.0      sun
1460  2015-12-31            0.0       5.6      -2.1      sun

[1461 rows x 5 columns]

In [29]:
df['Wind']=1
df

            date  precipitation  Max_Temp  temp_min  weather  Wind
0     2012-01-01            0.0      12.8       5.0  drizzle     1
1     2012-01-02           10.9      10.6       2.8    Rainy     1
2     2012-01-03            0.8      11.7       7.2    Rainy     1
3     2012-01-04           20.3      12.2       5.6    Rainy     1
4     2012-01-05            1.3       8.9       2.8    Rainy     1
...          ...            ...       ...       ...      ...   ...
1456  2015-12-27            8.6       4.4       1.7    Rainy     1
1457  2015-12-28            1.5       5.0       1.7    Rainy     1
1458  2015-12-29            0.0       7.2       0.6      fog     1
1459  2015-12-30            0.0       5.6      -1.0      sun     1
1460  2015-12-31            0.0       5.6      -2.1      sun     1

[1461 rows x 6 columns]